
  * {
    margin: 0;
    padding: 0;
  }
  
  #page-container {
    height: 100vh;
    display: flex;
    flex-direction: column
  }
  
  header {
    height: 70px;
    background-color: mediumvioletred;
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    align-items: center;

  }
  
  button {
    width: 100px;
  }
  
  main {
    flex-grow: 1;
    display: flex
  }
  
  #menu {
    background-color: #f2d0e0;
    flex-grow: 1
  
  }
  
  #conteudo {
    flex-grow: 26;
  }

  
  footer {
    background-color: mediumvioletred;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
  }